[submodule "hyperqb-ui"]
	path = hyperqb-ui
	url = https://github.com/HyperQB/hyperqb-ui.git
	branch = release
[submodule "HyperRUSTY"]
	path = HyperRUSTY
	url = https://github.com/HyperQB/HyperRUSTY.git
